@using OnesAndTwos.Infrastructure.Common.Extensions
@using OnesAndTwos.Web.Support

@if (Alerter.HasAlert(Alert.Attention))
{
    <div class="alert alert-block">
        <a class="close" data-dismiss="alert" href="#">x</a>
        <h4 class="alert-heading">Attention!</h4>
        @Alerter.GetMessageFor(Alert.Attention)
    </div>
}

@foreach (var alert in EnumExtensions.All<Alert>().Where(Alerter.HasAlert).Except(new [] { Alert.Attention }))
{
    <div class="alert alert-@Alerter.GetCssClassFor(alert)">
        <button type="button" class="close" data-dismiss="alert">x</button>
        @Alerter.GetMessageFor(alert)
    </div>
}